.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ////////////////////////////////////////////////////////////////////////////////////////// */
/*  */

@font-face {
        font-family: 'publicPixelFont';
        src: url('./PublicPixel-0W5Kv.ttf');
}

* {
    font-family: publicPixelFont, monospace;
}

body {
    width: 100%;
}

#root {background-color: rgb(112, 186, 255);
width: 100%;
padding-bottom: 5rem;}

.App {
    width: 100%;
}

.main-table {
    border: 0.25rem solid rgb(0, 102, 204);
    padding: 0 1rem;
    margin: 2rem auto 0 auto;
    min-width: 50rem;
    max-width: 80%;
    background-color: white;
}

.country-tables {
    margin: auto;
    width: 100%;
}

.country-table {
    border: 1rem solid greenyellow;
    padding: 1rem;
    margin: 1rem auto;
    width: 90%;
    border-collapse: collapse;
}

.score-rows {
    text-align: right;
    font-weight: 700;
    border: 3px solid black;
}

.td-name {
    text-align: center;
}

.points {
    color: red;
}

.countries-title, h1 {
    color: rgb(112, 186, 255);
}

h1 {
    padding-bottom: 0;
    margin-bottom: auto;
    font-size: 1.75rem;
    margin-top: 1rem;
}

h2 {
    font-size: 1.25rem;
}

tr.score-rows {
    border: black 2px solid;
    margin: 0 5rem;
}

.td {
    height: 2rem;
    width: 50%;
    padding: 0.5rem;
    margin: 0.25rem;
    font-size: 0.85rem;
}

.SortButton {
    /* background-color:rgb(112, 186, 255); */
    background-color: greenyellow;
    color: red;
    font-weight: 700;
    border: rgb(0, 102, 204) 0.25rem solid;
    border-radius: 5px;
    padding: 1rem;
    margin: auto;
    cursor: pointer;
    margin: 1rem 2rem 0;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
}